<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.wyq.sentimentanalysis.mapper.CommentMapper">
  <resultMap id="BaseResultMap" type="cn.wyq.sentimentanalysis.entity.pojo.Comment">
    <!--@mbg.generated-->
    <!--@Table comment-->
    <id column="comment_id" jdbcType="INTEGER" property="commentId" />
    <result column="comment_content" jdbcType="VARCHAR" property="commentContent" />
    <result column="comment_emotion" jdbcType="INTEGER" property="commentEmotion" />
    <result column="comment_emotion_value" jdbcType="FLOAT" property="commentEmotionValue" />
    <result column="book_id" jdbcType="INTEGER" property="bookId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    comment_id, comment_content, comment_emotion, comment_emotion_value, book_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from comment
    where comment_id = #{commentId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from comment
    where comment_id = #{commentId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="comment_id" keyProperty="commentId" parameterType="cn.wyq.sentimentanalysis.entity.pojo.Comment" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into comment (comment_content, comment_emotion, comment_emotion_value, 
      book_id)
    values (#{commentContent,jdbcType=VARCHAR}, #{commentEmotion,jdbcType=INTEGER}, #{commentEmotionValue,jdbcType=FLOAT}, 
      #{bookId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" keyColumn="comment_id" keyProperty="commentId" parameterType="cn.wyq.sentimentanalysis.entity.pojo.Comment" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into comment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="commentContent != null">
        comment_content,
      </if>
      <if test="commentEmotion != null">
        comment_emotion,
      </if>
      <if test="commentEmotionValue != null">
        comment_emotion_value,
      </if>
      <if test="bookId != null">
        book_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="commentContent != null">
        #{commentContent,jdbcType=VARCHAR},
      </if>
      <if test="commentEmotion != null">
        #{commentEmotion,jdbcType=INTEGER},
      </if>
      <if test="commentEmotionValue != null">
        #{commentEmotionValue,jdbcType=FLOAT},
      </if>
      <if test="bookId != null">
        #{bookId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.wyq.sentimentanalysis.entity.pojo.Comment">
    <!--@mbg.generated-->
    update comment
    <set>
      <if test="commentContent != null">
        comment_content = #{commentContent,jdbcType=VARCHAR},
      </if>
      <if test="commentEmotion != null">
        comment_emotion = #{commentEmotion,jdbcType=INTEGER},
      </if>
      <if test="commentEmotionValue != null">
        comment_emotion_value = #{commentEmotionValue,jdbcType=FLOAT},
      </if>
      <if test="bookId != null">
        book_id = #{bookId,jdbcType=INTEGER},
      </if>
    </set>
    where comment_id = #{commentId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.wyq.sentimentanalysis.entity.pojo.Comment">
    <!--@mbg.generated-->
    update comment
    set comment_content = #{commentContent,jdbcType=VARCHAR},
      comment_emotion = #{commentEmotion,jdbcType=INTEGER},
      comment_emotion_value = #{commentEmotionValue,jdbcType=FLOAT},
      book_id = #{bookId,jdbcType=INTEGER}
    where comment_id = #{commentId,jdbcType=INTEGER}
  </update>

<!--auto generated by MybatisCodeHelper on 2019-12-19-->
  <select id="countByCommentEmotion" resultType="java.lang.Integer">
        select count(1)
        from comment
        where comment_emotion=#{commentEmotion,jdbcType=INTEGER}
    </select>

<!--auto generated by MybatisCodeHelper on 2019-12-19-->
  <select id="countByCommentEmotionAndBookId" resultType="java.lang.Integer">
    select count(1)
    from comment
    where comment_emotion=#{commentEmotion,jdbcType=INTEGER} and book_id=#{bookId,jdbcType=INTEGER}
  </select>
    <select id="selectAllByBookId" resultMap="BaseResultMap">
      select book_id,comment_content,comment_emotion,comment_emotion_value
      from comment
      where book_id=#{bookId,jdbcType=INTEGER}
      <if test="emotion != -1">
        and comment_emotion = #{emotion,jdbcType=INTEGER}
      </if>
      <if test="order != null and order != 'null'">
        order by comment_emotion_value ${order}
      </if>
    </select>
</mapper>